<?xml version="1.0"?>
<!-- If you ever want to rename the application, see: https://stackoverflow.com/a/62330621 -->
<!-- For versionName and versionCode, we use this scheme:
  versionCode = major_version * 10000 + minor_version * 100 + packaging_version
  See also: https://developer.android.com/studio/publish/versioning  -->
<!-- installLocation="auto" means the application can be installed on external storage if the
  Android system wants to -->
<manifest package="org.fairdirect.foodrescue" xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="0.2" android:versionCode="200" android:installLocation="auto">

    <!-- Values "min SDK = 16" and "target SDK = 28" seen in the Qt template for AndroidManifest.xml.
      Modified to "target SDK = 29" according to Google Play recommendations as of 2020-08, see
      https://developer.android.com/distribute/best-practices/develop/target-sdk.html . Note that
      "target SDK = 29" is different from "build SDK = 28", which is mentioned in the Qt documentation:
      "For Qt 5.12.0 to 5.12.5 and Qt 5.13.0 to 5.13.1, Android build SDK 28 should be used. For [more]
      recent versions than the latter, build SDK 29, or the most recent should be used. This field does
      not specify the minimum supported API level nor the target API level, which you can specify in
      the Android manifest." (https://doc.qt.io/qtcreator/creator-deploying-android.html#selecting-api-level)
    -->
    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="29"/>

    <!-- Default permissions (automatically inserted on deployment based on app dependencies). -->
    <!-- Either this or manually listing the right permissions is needed. Otherwise you get a
      "Unfortunately, Package installer has stopped" crash at application start. -->
    <!-- %%INSERT_PERMISSIONS -->

    <!-- Default features (automatically inserted on deployment based on app dependencies). -->
    <!-- Alternatively you can list the features yourself here. -->
    <!-- %%INSERT_FEATURES -->

    <supports-screens android:largeScreens="true" android:normalScreens="true" android:anyDensity="true" android:smallScreens="true"/>

    <!-- android:icon loads icon "icon.png" or "icon.svg" (as available) from folder @drawable,
      which is here src/android/res/drawable-* -->
    <application android:hardwareAccelerated="true" android:name="org.qtproject.qt5.android.bindings.QtApplication" android:label="Food Rescue" android:icon="@drawable/icon">

        <!-- android:configChanges lists changes in the app's environment that the app will
          adapt to itself rather than relying on Android restarting it. Here, this is managed
          by the Qt framework for us, and it works. -->
        <!-- TODO: Add android:theme="@style/AppTheme" once we have a theme file. -->
        <activity android:configChanges="orientation|uiMode|screenLayout|screenSize|smallestScreenSize|layoutDirection|locale|fontScale|keyboard|keyboardHidden|navigation" android:name="org.qtproject.qt5.android.bindings.QtActivity" android:label="foodrescue" android:screenOrientation="unspecified" android:windowSoftInputMode="adjustResize" android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data android:name="android.app.lib_name" android:value="-- %%INSERT_APP_LIB_NAME%% --"/>
            <meta-data android:name="android.app.qt_sources_resource_id" android:resource="@array/qt_sources"/>
            <meta-data android:name="android.app.repository" android:value="default"/>
            <meta-data android:name="android.app.qt_libs_resource_id" android:resource="@array/qt_libs"/>
            <meta-data android:name="android.app.bundled_libs_resource_id" android:resource="@array/bundled_libs"/>

            <!-- Deploy Qt libs as part of the package (if requested) -->
            <meta-data android:name="android.app.bundle_local_qt_libs" android:value="-- %%BUNDLE_LOCAL_QT_LIBS%% --"/>
            <meta-data android:name="android.app.bundled_in_lib_resource_id" android:resource="@array/bundled_in_lib"/>
            <meta-data android:name="android.app.bundled_in_assets_resource_id" android:resource="@array/bundled_in_assets"/>

            <!-- Run with local libs -->
            <!-- TODO: What does this mean? -->
            <meta-data android:name="android.app.use_local_qt_libs" android:value="-- %%USE_LOCAL_QT_LIBS%% --"/>
            <meta-data android:name="android.app.libs_prefix" android:value="/data/local/tmp/qt/"/>
            <meta-data android:name="android.app.load_local_libs" android:value="-- %%INSERT_LOCAL_LIBS%% --"/>
            <meta-data android:name="android.app.load_local_jars" android:value="-- %%INSERT_LOCAL_JARS%% --"/>
            <meta-data android:name="android.app.static_init_classes" android:value="-- %%INSERT_INIT_CLASSES%% --"/>

            <!--  Messages maps -->
            <!-- TODO: What is this for? -->
            <meta-data android:name="android.app.ministro_not_found_msg" android:value="@string/ministro_not_found_msg"/>
            <meta-data android:name="android.app.ministro_needed_msg" android:value="@string/ministro_needed_msg"/>
            <meta-data android:name="android.app.fatal_error_msg" android:value="@string/fatal_error_msg"/>
            <meta-data android:value="@string/unsupported_android_version" android:name="android.app.unsupported_android_version"/>

            <!-- Background running -->
            <!-- Warning: changing this value to true may cause unexpected crashes if the
              application tries to paint after the "applicationStateChanged(Qt::ApplicationSuspended)"
              signal was sent. -->
            <meta-data android:name="android.app.background_running" android:value="false"/>

            <!-- auto screen scale factor -->
            <meta-data android:name="android.app.auto_screen_scale_factor" android:value="false"/>

            <!-- extract android style -->
            <!-- available values for android:value :
              * default - In most cases this will be the same as "full", but it can also be
                something else if needed, e.g., for compatibility reasons
              * full - useful QWidget & Quick Controls 1 apps
              * minimal - useful for Quick Controls 2 apps, it is much faster than "full"
              * none - useful for apps that don't use any of the above Qt modules
            -->
            <meta-data android:name="android.app.extract_android_style" android:value="default"/>

        </activity>

        <!-- For adding service(s) please check: https://wiki.qt.io/AndroidServices -->
    </application>

</manifest>
